<div class="index">
  <% unless user_signed_in? %>
    <div class="info">
      <p>To make your own posts or see who is posting about what</p>
      <p>Sign in or make an account</p>
    </div>
  <% end %>
  <%= render 'feed' %>
</div>