<div class="index">
  <% unless user_signed_in? %>
    <div class="info">
      <p>To see who is posting or join in on the conversation, you must first sign in or create an account!
    </div>
  <% end %>
  <%= render 'feed' %>
</div>